/**
 * DrivingEvalsTheme drivingevalstheme.css
 *
 * Use this file to add your custom styles.
 *
 * You can change the name of this file, just
 * remember to update the name in the info file
 * as well.
 */

#branding {
	padding: 10px 10px 13px 10px;
}

#branding h2 {
	padding-left: 4px;  /* compensages for tiny font under huge font */
}

#menu-bar-wrapper {
	margin-bottom: 20px;
}

#menu-bar ul > li > a {
	text-transform: uppercase;
}

#copyright {
	margin-left: 10px;
	padding-bottom: 10px;
	font-size: 0.8em;
	color: #777777;
}

/* webform dual-row header tables */
tr.top-header th {
	padding-bottom: 0;
}
tr.bottom-header th{
	padding-top: 0;
}

#webform-component-rungroup,
#webform-component-rungroup-future,
#webform-component-talk,
#webform-component-again,
#webform-component-communicator,
#webform-component-more {
	margin: 0;
	padding: 10px 14px;
}

.webform-component table,
.webform-component-webform_grid table {
	width: auto;
}

/* Undo Corolla's weird placement of fieldset legends inside the fieldset */
fieldset legend {
	position: static;
	background-color: #4e4e4e;
}

fieldset.webform-component-fieldset {
	padding-top: 1em;	
	margin-top: 1em;
}

fieldset.webform-component-fieldset legend span.fieldset-legend {
	font-weight: 700;
	padding-top: 1em;	
	padding-right: 6em;
}

/* reduce overly large margin at top (was created for lowered legend) */
.fieldset-wrapper.with-legend {
	margin-top: 1em;
}

th, thead, thead th {
	background-color: #4e4e4e;
}

/* With a menu block in the menu bar, the ul is not a direct child of #menubar  */
#menu-bar  ul > li > a.active,
#menu-bar  ul > li > a.active:hover,
#menu-bar  ul > li > a.active:focus {
  color: #2e2e2d;
  background-color: #eeeeee;
}

/* Undo Carolla's 100% width on input fields */
.block input.form-text,
.block input.form-password,
.block input.form-file {
	width: auto;
}

/* restore width 100% for the login form */
#user-login-form #edit-name,
#user-login-form #edit-pass {
	width: 100%;
}

/* Student and instructor home page submission blocks */
#block-drivingevals-instructor li.eval-name,
#block-drivingevals-student li.eval-name {
	margin-top: 1em;
	margin-bottom: 2em;
	list-style: none;
	font-size: 1.1em;
}

#block-drivingevals-instructor ul.eval-name.no-children > li,
#block-drivingevals-student ul.eval-name.no-children > li{
	list-style: none;
	color: #666666;
	padding: 0.25em 1em;
	margin: 0.5em 0.5em;
}

#block-drivingevals-instructor ul.eval-name > li,
#block-drivingevals-student ul.eval-name > li {
	list-style: decimal;
}

#block-drivingevals-instructor a.link-button,
#block-drivingevals-student a.link-button {
	display: inline-block;
	padding: 0.25em 1em;
	margin: 0.5em 0.5em;
	background-color: #e6e6e6;
	color: black;
	border: #c4c4c4 solid 2px;
	border-radius: 6px;
}

#block-drivingevals-instructor ul.eval-name > li > a:hover,
#block-drivingevals-student ul.eval-name > li > a:hover {
	color: #E25400;
}